[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
click-log = "*"
"boto3" = "==1.9.21"
tqdm = "*"
requests = "*"
botocore = "==1.12.21"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.7"
